<%- include('../partials/header')%>
  <div class="hero">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="hero-text-box shadow-lg p-5">
            <h1>Hello Camper</h1>
            <br />
            <p class="lead">Welcome to YelpCamp</p>
            <p>Please click the button below to verify your account</p>
            <a href="#" class="btn btn-primary">Verify your account</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('../partials/footer')%>